/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is YOUR NAME GOES HERE and this is the beginning of my CONTACT PAGE CSS for 318 Digital Typography November 2019 ------------ */

nav {
	margin: 27px auto 0;

	position: relative;
	width: 354px;
	height: 50px;
	background-color: #e0e2d5;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 118px;
}
a:nth-child(2) {
	width: 118px;
}
a:nth-child(3) {
	width: 118px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 118px;
	left: 0;
	background-color: #10375d;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 118px;
	left: 118px;
	background-color: #10375d;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 118px;
	left: 236px;
	background-color: #10375d;
}
/* nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
} */

body {
	font-size: 12px;
	font-family: serif;
	background: #6db8bb;
}

h1 {
	text-align: center;
	margin: 60px 0 60px;
	text-shadow: 1px 1px 2px teal, 2px 2px 25px gray, 0 0 5px midnightblue;
	text-align: center;
	font-size: 68px;
	color:#191970;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	position: static;
	margin: 25px 10px 25px;
	text-shadow: 2px 2px 5px teal;
	font-size: 35px;
	text-align: center;
	color:#ecf0f1;
	font-family:Arial, Helvetica, sans-serif;
}

h3 {
	position: static;
	margin: 32px 40px 32px;
	font-size: 18px;
	text-align:left;
	line-height: 0.8cm;
	color:rgb(25, 25, 112);
	font-family:Arial, Helvetica, sans-serif;
}

p {
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-shadow: 2px 2px 5px teal;
}

span {
    color: #e0e2d5;
}

li {
	font-size: 19px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-shadow: 2px 2px 5px white;
}

button {
	margin:auto;
	display:block;
}